*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-width: 61.2em) and (max-width: 82.5em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 61.2em) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 49.3em) {
    html {
      font-size: 62.5%; } }

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2ebe3; }

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px; }
  @media only screen and (max-width: 49.3em) {
    .card {
      flex-direction: column;
      max-height: 100%; } }
  .card__content {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding: 3.3rem;
    max-width: 50%; }
    @media only screen and (max-width: 49.3em) {
      .card__content {
        max-width: 100%;
        gap: 2.5rem;
        padding: 3.3rem; } }
  .card__pricing {
    display: flex;
    align-items: center; }
  .card .new-price {
    margin-right: 2.1rem; }
  .card__img {
    display: block;
    max-width: 100%; }

.card__category {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  color: #6c7289; }

.card__title {
  font-family: "Fraunces", serif;
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: #1c232b; }

.card__description {
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: #6c7289; }

.new-price {
  font-family: "Fraunces", serif;
  font-size: 3.2rem;
  color: #3c8067; }

.old-price {
  font-size: 1.3rem;
  text-decoration: line-through;
  color: #6c7289; }

.card__btn {
  background-color: #3c8067;
  width: 23.6rem;
  height: 4.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s; }
  .card__btn:hover {
    background-color: #1a4032; }
  .card__btn-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem; }
  .card__btn-text {
    color: #fff;
    font-weight: 700; }
