*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  background-color: #f2ebe3;
  width: 144rem; }

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 34.3rem;
  height: 61.1rem;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px; }
  @media only screen and (min-width: 23.4em) {
    .card {
      display: flex;
      width: 60rem;
      height: 45rem; }
      .card__img-desk {
        width: 30rem;
        height: 45rem; } }
  .card__content {
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem; }
  .card__pricing {
    display: flex;
    align-items: center;
    gap: 3rem; }

.perfume {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.5rem;
  color: #6c7289; }

.heading {
  font-family: "Fraunces", serif;
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: #1c232b; }

.description {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: #6c7289; }

.new-price {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: #3c8067; }

.old-price {
  font-size: 1.3rem;
  font-weight: 500;
  font-weight: 2.3rem;
  text-decoration: line-through;
  color: #6c7289; }

.btn {
  background-color: #3c8067;
  width: 23.6rem;
  height: 4.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s; }
  .btn:hover {
    background-color: #1a4032; }
  .btn__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: red;
    margin-right: 1rem; }
  .btn__text {
    color: #fff;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem; }
