// Breakpoints

// 1920px - Extra Large Screens
// 1200px - Desktops, Large Screen
// 1024px - Small Screens
// 768px - Ipad
// 480px - Mobile

// COLOR VARIABLES

:root {
  --color-green: #3c8067; // btn & numbers
  --color-background-cream: #f2ebe3; // general background

  --color-card-bg-white: #fff; // card backgroung
  --color-heading-dark-blue: #1c232b; // main card heading
  --color-price-grey-blue: #6c7289; // secondary price
  --color-btn-hover: #1a4032; // button hover

  // FONT VARIABLES

  --font-primary: "Montserrat", sans-serif;
  --font-display: "Fraunces", serif;
}

// RESPONSIVE BREAKPOINTS
$bp-mobile: 48em; // 768px mobile version

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-background-cream);
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 30rem);

  background-color: var(--color-card-bg-white);
  border-radius: 10px;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    padding: 3rem;

    @media only screen and (max-width: $bp-mobile) {
      gap: 2rem;
      padding: 2.5rem;
    }
  }

  &__pricing {
    display: flex;
    align-items: center;
  }

  &__old-price {
    margin-left: 1.9rem;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media only screen and (max-width: $bp-mobile) {
    grid-template-columns: minmax(34.3rem, 1fr);
  }
}
