// COLOR VARIABLES
$color-green: #3c8067; // btn & numbers
$color-background-cream: #f2ebe3; // general background

$color-card-bg-white: #fff; // card backgroung
$color-heading-dark-blue: #1c232b; // main card heading
$color-price-grey-blue: #6c7289; // secondary price

// FONT VARIABLES
$font-primary: "Montserrat", sans-serif;
$font-display: "Fraunces", serif;

// RESPONSIVE BREAKPOINTS
// $bp-mobile: ;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-size: 1.4rem;
  font-family: $font-primary;
  background-color: $color-background-cream;
}

.container {
  width: 144rem;
}

.card {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 60rem;
  height: 45rem;
  background-color: $color-card-bg-white;

  overflow: hidden;

  border-radius: 10px;

  &__image {
    .img {
      width: 30rem;
      height: 45rem;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
