// COLOR VARIABLES
$color-green: #3c8067; // btn & numbers
$color-background-cream: #f2ebe3; // general background

$color-card-bg-white: #fff; // card backgroung
$color-heading-dark-blue: #1c232b; // main card heading
$color-price-grey-blue: #6c7289; // secondary price
$color-btn-hover: #1a4032; // button hover

// FONT VARIABLES
$font-primary: "Montserrat", sans-serif;
$font-display: "Fraunces", serif;

// RESPONSIVE BREAKPOINTS
$bp-mobile: 23.4em; // 375px mobile version;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: $font-primary;
  font-size: 1.4rem;
  background-color: $color-background-cream;
  width: 144rem;
}

.card {
  display: flex;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 60rem;
  height: 45rem;
  background-color: $color-card-bg-white;

  overflow: hidden;
  border-radius: 10px;

  &__content {
    padding: 3.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
  }

  &__pricing {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
}
