.card__btn {
  background-color: $color-green;
  width: 23.6rem;
  height: 4.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;

  &:hover {
    background-color: $color-btn-hover;
  }

  &-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
  }

  &-text {
    color: $color-card-bg-white;
    font-weight: 700;
  }
}
