.heading {
  font-family: $font-display;
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: $color-heading-dark-blue;
}

.perfume {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.5rem;
  color: $color-price-grey-blue;
}

.description {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: $color-price-grey-blue;
}

.new-price {
  font-family: $font-display;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: $color-green;
}

.old-price {
  font-size: 1.3rem;
  font-weight: 500;
  font-weight: 2.3rem;
  text-decoration: line-through;
  color: $color-price-grey-blue;
}
